    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
	      <p>EmberCrypt's main expertise is in embedded device security, specifically in the realm between hardware and firmware. It was set up by Jan Van den Herrewegen, who defended his PhD thesis <em>Automotive Firmware Extraction and Analysis Techniques</em> at the University of Birmingham in February 2021. EmberCrypt remains closely attached to the automotive security field, with expertise in the security architecture of automotive chips by various manufacturers (NXP, Renesas, ST Micro, ...) With experience in ECU firmware readout, embedded device \& ECU reverse engineering and side-channel attacks please do not hesitate to contact us if we can assist in your project.</p>
              <br/>
              </div>
        </div>
    </section>
