<section class="section subscribe">
    <h2>Interested in participating in a pilot project?</h2>
    <form action="https://weightless.so/api/lists/tnbzp9z3/subscribe" method="post">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input type="email" placeholder="Email" class="input" name="subscription[email]">
            </div>
            <div class="control">
                <input type="submit" value="Subscribe" class="button is-primary">
            </div>
        </div>
	<input type="hidden" name='redirect_to' value="/thank-you"/>
    </form>
</section>
